<button *ngIf="icon; else text" [matMenuTriggerFor]="languageMenu">
  <span class="uppercase font-medium text-sm tracking-widest">{{
    currentLanguage
  }}</span>
</button>
<ng-template #text>
  <button
    mat-raised-button
    [matMenuTriggerFor]="languageMenu"
    class="uppercase"
  >
    {{ currentLanguage }}
  </button>
</ng-template>
<mat-menu #languageMenu="matMenu">
  <button
    mat-menu-item
    *ngFor="let language of languages"
    (click)="setLanguage(language)"
    class="uppercase"
  >
    {{ language }}
  </button>
</mat-menu>
